body{
    font-family: 'Bebas Neue', cursive;
}
section{
    height: 800px;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
p{
    width: 500px;
    padding-bottom: 3%;
    font-family: 'Roboto', sans-serif;
}
a{
    font-family: 'Roboto', sans-serif;
}
#third-sec{
    background-color: rgb(249, 250, 255);
}
#third-sec-h2{
    padding-top: 3%;
    padding-bottom: 2%;
    text-align: center;
}
#h1-scnd-color{
    color: #FF8367;
}
#name-color{
    color: #F46060;
}
#inq-section{
    background-image: url(images/Group_33094_1.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
}
#inq-h2{
    color:;
}
#inq-anchor{
    position: absolute;
    margin-top: 2%;
}
.h-name-color{
    color: #363958;
}
.division{
    width: 40%;
    float: left;
    margin: 3%;
    padding: 2%;
}
.button{
    text-decoration: none;
    padding: 15px 20px;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.first-image{
    width: 100%;
}
.text-box{
    width: 27%;
    height: 540px;
    float: left;
    margin-left: 5%;
    box-shadow: 10px 10px 50px gray;
    border-radius: 20px;
    background-color: white;
}
.box-text{
    width: 80%;
    margin-left: 10%;
}
.box-image{
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
}
.inq-div{
    width: 10%;
    float: left;
    margin-left: 28%;
    margin-top: 18%;
}